.pizza-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pizza-form > div {
    margin-bottom: 20px;
}
.pizza-form-title {
    margin-bottom: 20px;
}

.radioInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100px;
}